<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Project 2</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/d3Style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">

	<!-- Add your js assets here (except your app.js file, which should be at the bottom of the body). -->
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

  <link rel="stylesheet" href="../static/css/app.css">

</head>
<body>
	<div class="container">
	  <div class="row">
		  <nav class="navbar navbar-default">
			<div class="container-fluid">
			</div>
		  </nav>
		  <div class="hero text-center">
			<h1>Housing value</h1>
		  </div>
		  <div class="container">
			<div class="row margin-top-50">
			  <div class="col-md-12">
				<aside class="filters">
				  <div class="panel panel-default">
					
								  </div>
						</div>
	  </div>
	</div>
  </div>
  </div>
  
  <div class="topnav" style="padding-left: 73px;">
  <a class="active" href="/">Home</a>
  <a href="/plot1">GDP changes</a>
  <a href="/d3">Housing value by State</a>

  </div> 
  
  <h4>Average housing value for each State </h4>
  <div class="chart">
	</div>
	<script type="text/javascript" src="../static/js/app.js"></script>
  


  <!-- Footer-->
  <footer class="footer">
	<span class="bottom"> -- Delphine Douillet, Derek A Jones, Minhaj Haji --</span>
  </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>


</body>

</html>